# IDE Configs
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Build and Temp files
backend/target/
frontend/dist/
frontend/node_modules/
frontend/.vite/
node_modules/
dist/
target/
*.log
.system_generated/
.gemini/
application-local.yml
.local-configs/
backend/jdk-17.0.2/
backend/maven-3.9.6/
deploy.sh.local

# System files
.DS_Store
Thumbs.db
